@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
#who{
  font-family: 'Poppins', sans-serif;
}
#users{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Poppins';
}
.blurred-background {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Allow clicking through the blurred background */
  }
  .blurred-background {
    overflow: hidden;
    pointer-events: none;
  }
  
  .blurred-background::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: all;
  }
  .body-no-scroll {
    overflow: hidden;
  }

  select{
    font-size: medium;
    border-radius: 5px;
    border: 2px solid #0128C9;
  }
  .bgr{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    border: 1.5px solid black;
  }