<div class="container" #dialogContainer>
  <div class="row justify-content-center">
      <div class="col-12">
          <p>{{ message }}</p>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <div class="text-center mb-2">
            <button class="btn btn-primary btn-block" [mat-dialog-close]="true" cdkFocusInitial #focusElement>Yes</button>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="text-center mb-3">
            <button class="btn btn-light border border-dark btn-block" (click)="onCancelClick()">No</button>
        </div>
    </div>
</div>
</div>