@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

input{
    width: 100%;
}
.content{
    padding: 30px;
    align-items: center;
    margin: auto;
    width : 50%;
}
.button-container{
   margin: auto;
}
.dialog-overlay {
    position: fixed;
    background-size: cover;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
.front {
  position: fixed;
  top : 10%;
  left :20%;
  width: 60%;
  height: 40%;
}


 