<form (ngSubmit)="verifyOTP()">

    <div class="container d-flex justify-content-center align-items-center min-vh-100 login-container">

        <!--Login Container-->
    
           <div class="row border p-3 bg-white shadow box-area login-box">
    
        <!--Left Box-->
    
           <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #ffffff;">
               <div class="featured-image mb-3">
                <img src="assets/thumbb.png" class="img-fluid" style="object-fit: cover;">
               </div>
           </div> 
    
        <!--Right Box-->
            
           <div class="col-md-6 right-box">
              <div class="row align-items-center">
                    <div class="header-text mb-3">
                         <h2 style="font-size: 30px;font-weight: bold;">Forgot Password</h2>  
                    </div>
                    <h5><label for="otp">Enter OTP</label></h5>
                    <div class="input-group mb-3">
                        <input type="text" id="otp" name="otp" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="otp" placeholder="Enter OTP" maxlength="6">
                        <div class="invalid-feedback d-block">{{ otpError }}</div>
                    </div>
                    <div class="input-group mb-1">
                        <button type="submit"  class="btn btn-lg btn-warning w-100 fs-6 justify-content-end">Verify OTP</button>
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-end resend">
                        <small><a (click)="resendOTP()" class="resend-link">resend OTP</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</form>