@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
div{
    align-items: center;
}
.sub{
    border: 2px solid #000000;
    background-color: #048DF8;
    color : rgb(255, 255, 255);
    border-radius: 5px;
    top:90%;
    left: 20%;
}
p{
    margin-left: 2%;
    margin-top: 6%;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}
.can{
    border: 2px solid #000000;
    background-color: #ffffff;
    color : rgb(0, 0, 0);
    align-items: center;
    border-radius: 5px;
    top:90%;
    left: 20%;
}
